# Keycloak
KEYCLOAK_URL=https://auth.echo-messenger.ru
KEYCLOAK_REALM=echo
KEYCLOAK_CLIENT_ID=generator

# Приложение
HOST=0.0.0.0
PORT=5000
DEBUG=False

# PSQL
DB_DSN=postgres://user:pass@localhost:0000/tinode_auth

# Restricted tag namespaces
RESTRICTED_TAG_NS=rest,email,uname
# Regex для валидации логинов (будет base64-кодироваться)
LOGIN_VALIDATION_RE=^[a-zA-Z0-9_.\-@]{3,64}$